<div class="header" role="banner">
    <div class="title-with-logo">
        {% if pages["_meta"].meta.logo %}
        <div class="logo">
            <a href="{{ base_url }}">
                <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="Pico's logo as a circle with white text and green background." />
            </a>
        </div>
        {% endif %}
        <div class="title">
            <a href="{{ base_url }}">
                <h1>{{ site_title }}</h1>
                <p>{{ pages["_meta"].meta.tagline }}</p>
            </a>
        </div>
    </div>
    <div class="nav-with-handle">
        <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="true"
            tabindex="1">
            <span aria-hidden="true" id="toggler"></span>
            <span class="sr-only">Toggle Menu</span>
        </a>
        <div class="nav">
            <div id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1)|filter(page => page.title and not page.hidden) %}
                    <li{% if page.id == current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.title|lower not in page.url or '/?' in page.url ? page.url : page.url[0:-page.title|length] ~ '?' ~ page.title|lower }}">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
